[train]
epoch = 100
batch_size = 32



[model]

model_name = Ours
input_dim = 1
mask_dim = 1
output_dim = 1

[data]

norm_max = 1 
train_dataset_type =  ImageFromMRI
train_formatter_type = Nibabel

valid_dataset_type =  ImageFromMRI
valid_formatter_type = Nibabel

test_dataset_type =  ImageFromMRI
test_formatter_type = Nibabel

[output]

accuracy_method = Null
output_function = CV




