[train]
epoch = 10000
batch_size = 32

[valid]
batcH_size = 32

[model]

model_name = Ours
input_dim = 1
aug_num = 2
output_dim = 1
dropout_rate = 0.3

[data]
mask_size = [16, 16]
norm_max = 1

train_dataset_type =  ImageFromMRI
train_formatter_type = Nibabel

valid_dataset_type =  ImageFromMRI
valid_formatter_type = Nibabel

test_dataset_type =  ImageFromMRI
test_formatter_type = Nibabel

[output]
date: 2024-08-23
accuracy_method = Null
accuracy_methods = ["PSNR", "SSIM"]
output_function = CV

model_name = Proposed




